<div class="author">
  <h1 class="author__heading">Hi, I am Dinesh Gowdam.</h1>
  <p class="author__body">Software Engineer.</p>
</div>

<img
  src="/img/hero-image.webp"
  alt="person looking out through window"
  class="hero-image"
  width="981"
  height="528"
/>

<section class="articles">
  <% if (data.length > 0) { %>
  <h2 class="articles__heading">Latest Posts</h2>
  <ul class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list__date">
          <% if (post.createdAt) { %> <%= post.createdAt.toDateString() %> <% }
          else { %> Unknown Date <% } %>
        </span>
      </a>
    </li>
    <% }) %>
  </ul>
  <% if (nextPage && nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %> <% } else { %>
  <!-- Use inline CSS to center the text and apply the Poppins font -->
  <div style="font-family: 'Poppins', sans-serif; text-align: center">
    No post available
  </div>
  <% } %>
</section>
